.container {
  background-color: white;
  width: 100%;
}
.title {
  background-color: black;
  width: 100%;
  height: 50px;
  color: #dfd6d6;
}
.heading img {
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 130px;
  color: #a71c1c;
}
.navbar {
  background-color: #078738;
  width: 100%;
  height: 80px;
  color: rgb(245, 245, 245);
}
ul {
  list-style: none;
}
li {
  display: inline;
  margin: 10px;

  font-size: larger;
  font-weight: bold;
}
.slider img {
  background-color: yellow;
  height: 500px;
  float: left;
  width: 60%;
}
.news {
  background-color: rgb(163, 151, 155);
  height: 500px;
  float: left;
  width: 40%;
}
.news_title {
  text-align: center;
  background-color: blueviolet;
  font-size: larger;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
}
.delhi {
  background-color: lightgray;
  border: 15px solid green;
  padding: 50px;
  margin: 10px;
  width: 70px;
  text-align: center;
}

.test{
  
}